.input-section {
  margin: 100px;
}

.input-title {
  margin-bottom: 24px;
}

.written-container {
  height: 50px;
}

.keyboard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  width: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-device-width: 450px) {
  .button-container {
    flex-direction: column-reverse;
    width: 100vw;
    height: 116px;
  }
}
