body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-radius: 15px;
  margin: 16px;
  padding: 0px 32px;
  height: 70px;
  width: calc(100vw - 98px);
}

aside.left-aside {
  position: fixed;
  left: 0px;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);
}

aside.right-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  right: 0px;

  height: calc(100vh - 32px);
  width: 400px;
  margin: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: white;
  border-radius: 15px;
  margin-top: 8px;
  height: calc(100vh - 264px);
  width: calc(50vw - 98px);
  padding: 16px;
}

.home-page-data-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  margin: 16px;
}

.home-page-date-input {
  text-align: center;
  width: 144px;
  color: black;
  background-color: rgb(255, 255, 255);
  height: 40px;
  border: 0px;
  font-weight: 500;
}

.home-page-date-input::-webkit-datetime-edit-month-field {
  color: black;
}
.home-page-date-input::-webkit-datetime-edit-day-field {
  color: black;
}
.home-page-date-input::-webkit-datetime-edit-year-field {
  color: black;
}

.home-page-data-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-page-week-days-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.home-page-week-day {
  width: calc(100vw / 8);
  margin: 0px 8px;
}

.home-page-lists-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 16px;
}

.home-page-list-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: calc(100vw / 8);
  margin: 0px 8px;
}

.home-page-add-button-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100px;
  width: calc(100vw / 8);
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 16px;
}

.home-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: calc(100vw / 8);
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.home-page-card:hover {
  animation-name: cardOnHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.home-page-card:not(hover) {
  animation-name: cardOutHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.form-section {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70vh;
  background-color: white;
  border-radius: 20px;
  padding-top: 16px;
  padding-bottom: 8px;
}

.form-hour-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 280px;
}

.form-input-time {
  width: 80px;
  color: black;
}
.form-color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 280px;
}

.form-input-color {
  width: 200px;
  height: 42px;
  padding: 4px 4px;
}

.form-input-color::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  padding: 0;
}

.form-input-color::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50px;
  padding: 0;
}

.form-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 280px;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 90%;
}

button.form-salmon-button {
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  font-weight: 400;
  width: 140px;
  height: 50px;

  background-color: lightsalmon;

  border: 0px;
  border-radius: 25px;
  margin: 0px;
  padding: 0px;
}

button.form-white-button {
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  font-weight: 400;
  width: 140px;
  height: 50px;

  background-color: rgb(255, 255, 255);

  border: 1px solid black;
  border-radius: 25px;
  margin: 0px;
  padding: 0px;
}

.loading-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.loading-animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  animation: loading 2s infinite forwards;
}
.loading-left {
  width: 50px;
  height: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top: 10px solid salmon;
  border-left: 10px solid salmon;
  border-bottom: 10px solid salmon;
}

.loading-right {
  width: 50px;
  height: 30px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top: 10px solid rgba(255, 255, 255, 0);
  border-right: 10px solid salmon;
  border-bottom: 10px solid salmon;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
