@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #f0f0f0;
}

h1 {
  font-family: "Comfortaa", cursive;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "Pacifico", cursive;
  font-size: 44px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h2.small-icon {
  font-family: "Pacifico", cursive;
  font-size: 34px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h5 {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h6 {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  font-style: normal;
}

input {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 300;
  color: rgb(200, 200, 200);
  width: 260px;
  height: 50px;
  border: 1px solid black;
  border-radius: 25px;
  padding-left: 16px;
}

input.password-input {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: rgb(200, 200, 200);
  width: 260px;
  height: 50px;
  border: 1px solid black;
  border-radius: 25px;
}

input.biggerinput {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 300;
  color: rgb(200, 200, 200);
  width: 260px;
  height: 150px;
  border: 1px solid black;
  border-radius: 25px;
  padding-left: 16px;
}

button {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

button.salmon-button {
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  font-weight: 400;
  width: 220px;
  height: 50px;

  background-color: lightsalmon;

  border: 0px;
  border-radius: 25px;
  margin: 0px;
  padding: 0px;
}

button.white-button {
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  font-weight: 400;
  width: 220px;
  height: 50px;

  background-color: rgb(240, 240, 240);

  border: 1px solid black;
  border-radius: 25px;
  margin: 0px;
  padding: 0px;
}

button.green-button {
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  font-weight: 100;
  width: 220px;
  height: 50px;

  background-color: rgb(240, 240, 240);
  color: #00a07a;

  border: 0px;
  margin: 0px;
  padding: 0px;
}

button.little-button {
  font-family: "Comfortaa", cursive;
  font-size: 26px;
  font-weight: 600;
  width: 90px;
  height: 44px;

  background-color: white;

  border: 0px;
  border-radius: 12px;
  margin: 10px 0px;
  padding: 0px;
}

main.full-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0px;
}

footer.left-footer {
  width: 980px;
  height: 100vh;

  background: rgba(0, 0, 0, 0.3);
}

footer.right-footer {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: white;

  height: 100vh;
  width: 300px;
  margin: 0px;
}

div.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 25px 20px;
  background-color: white;
  border-radius: 20px;
  margin: 0px;
}

/*
############################################
ANIMATIONS
*/

.enterPage-animation {
  animation-name: enterPage;
  animation-duration: 4s;
}

.outPage-animation {
  animation-name: outPage;
  animation-duration: 1s;
}

@keyframes enterPage {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes outPage {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

button:hover {
  animation-name: onHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
button:not(hover) {
  animation-name: outHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes onHover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes outHover {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
